# RuralCare Environment Variables Template
PORT=5000
JWT_SECRET=ruralcare_secret_jwt_key_2026

# MongoDB Atlas Database Credentials
MONGODB_USERNAME=ishantpadole96_db_user
MONGODB_PASSWORD=aOD3kzqMBsmdzo3q
MONGODB_URI=mongodb+srv://ishantpadole96_db_user:aOD3kzqMBsmdzo3q@isolated-free-cluster.4ahr84c.mongodb.net/ruralcare?retryWrites=true&w=majority
